.circle {
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background-image: radial-gradient(circle, #26adc926, #26adc926);
  background-image: linear-gradient(to bottom, #26adc926, #26adc926);
}
